

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Plus Jakarta Sans';

/*	cursor: none;*/
}

html{
	scroll-behavior: smooth;
}
/* min - 969 pixels.*/


/* cursor */

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  z-index: 10000;
  mix-blend-mode: difference; //for dark and light modes
  background-color: transparent;
  z-index: 10000;
  border: 5px solid white;
  height: 30px;
  width: 30px;
  transition: all 300ms ease-out;
}

/*cursor - end*/


header{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-image: url(background_main.jpg);
}


.header{
	width: 100%;
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: white;
}

nav{
	display: flex;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.19);
	backdrop-filter: blur(50px);
	border-radius: 5px;
	align-items: center;
	height: 87px;
}

.navbar a{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	margin-left: 1.25em;
	margin-right: 1.25em;
	text-align: center;
}

.navbar img{
	justify-content: center;
	align-items: center;
}

.header_h1 h1{
	font-weight: 800;
	font-size: 150px;

	animation: fade 3s ease;
	
}

/*animation: fade linear both;
animation-timeline: view();
animation-range: entry 50% cover 50%;*/

.gradient{
	background: -webkit-linear-gradient(0deg, #912EDF, #C90CE8, #E02A97); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2{
	font-weight: 800;
	font-size: 100;
	background: -webkit-linear-gradient(0deg, #912EDF, #C90CE8, #E02A97); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.playnow_img{
	align-items: center;
	justify-content: center;
}

.trans{
	position: absolute;
	width: 100vh;
	height: 7vh;
	margin-top: 95vh;
	backdrop-filter: blur(50px);
}

.favgames{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	color: white;
	background-size: cover;
	background-image: url(background_fav.png);
	padding-top: 10vh;
}

.favgames h1{
	font-weight: 800;
	font-size: 150px;
	animation: fade linear both;
	animation-timeline: view();
	animation-range: entry 50% cover 50%;
}


.section-header {
    display: block;
    margin-top: 20px;
    position: relative;
    text-align: center;
}

section {
    padding-top: 50px;
    overflow: hidden;
    position: relative;
}

a, a:link, a:visited {
    text-decoration: none;
}

.Carousel-slider {
    height: 560px;
    position: relative;
    width: 100%;
    border-radius: 30px;
}

.Carousel-slider.fullwidth {
    height: 500px;
}

.Carousel-slider.fullwidth .slider-item {
    height: 480px;
    line-height: 480px;
    width: 100%
}

.slider-wrapper {
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 0 50%;
	perspective: 800px  !important;
}

.slider-item {
    box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.12);
    display: none;
    height: 325px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 64vh;

}

.indicators {
	top: 0;
    left: 50%;
    padding: 0;
    list-style-type: none;
    margin: 40px 0 0 -77px;
    position: absolute;
}

.indicators li {
    color: #912EDF;
    float: left;
    height: 16px;
    margin-right: 8px;
    text-align: center;
    width: 16px;
}

.indicators li:last-child {margin: 0;}
.indicators a {
    background: #C90CE8;
    border-radius: 8px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.indicators .active a {
	background: #e4e5e6;

}
.superHero1 {background-image: url(favgames_1.png); border-radius: 50px !important;}
.superHero2 {background: url(favgames_2.png); border-radius: 50px !important;}
.superHero3 {background: url(favgames_3.png); border-radius: 50px !important;}


.virtual_games{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	color: white;
	background-size: cover;
	background-image: url(background_virtualWorld.png);
	padding-top: 10vh;
	box-sizing: border-box;
}

.virtual_games h1{
	font-size: 100px;
	color: white;
	font-weight: 800;
	animation: fade linear both;
	animation-timeline: view();
	animation-range: entry 50% cover 50%;
}

/* magic css */
.wrapper {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_wrapper {
    height: 400px;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    overflow: hidden;
    height: 50vh;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('magic1.jfif');
}
.card[for="c2"] {
    background-image: url('magic2.jfif');
}
.card[for="c3"] {
    background-image: url('magic3.jfif');
}
.card[for="c4"] {
    background-image: url('magic45.jfif');
}
.card[for="c5"] {
    background-image: url('magic5.jfif');
}
.card[for="c6"] {
    background-image: url('magic6.jfif');
}
.card[for="c7"] {
    background-image: url('magic7.jfif');
}
.card[for="c8"] {
    background-image: url('magic8.jfif');
}

.card[for="c9"] {
    background-image: url('magic9.jfif');
}
.card[for="c10"] {
    background-image: url('magic10.jfif');
}


/* magic css end*/

::-webkit-scrollbar
{
	width: 0;
}
#scrollPath
{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background-color: rgba(255,255,255,0.05);
}

#progressbar
{
	position: fixed;
	top: 0;
	z-index: 10000000;
	right: 0;
	width: 10px;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	animation: animate 5s linear infinite;
}

@keyframes animate{
	0%,100%{
		filter: hue-rotate(0deg);
	}
	50%{
		filter: hue-rotate(360deg);
	}
}

#progressbar:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(30px);
}

.art_gallery{
	width: 100%;
	height: 100vh;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	color: white;
	background-image: url(gallery.jpg);
	padding-top: 10vh;
}

.art_gallery a {
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 100px;
  color: #e62dec;
  transition: all 0.5s;
  width: 100vh;
  height: 30vh;
  font-weight: 800;
  justify-content: center;
  align-items: center;
}

.art_gallery a:hover {
  color: #000;
  background: #e62dec;
  box-shadow: 0 0 10px #e62dec, 0 0 80px #e62dec, 0 0 80px #e62dec;
  border: none;
  transition: all 0.5s;
}

.art_gallery p{
	margin-top: 20%;
	justify-content: center;
	align-items: center;
	animation: fade linear both;
	animation-timeline: view();
	animation-range: entry 50% cover 50%;
}

.art_gallery h1{
	align-items: center;
	justify-content: center;
	height: 10vh;
	margin-top: 10vh;
	animation: fade linear both;
	animation-timeline: view();
	animation-range: entry 50% cover 50%;
}


.marquee {
  display: flex;
  overflow: hidden;
  height: 10vh;
  user-select: none;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  backdrop-filter: blur(50px);
  font-size: 20px !important;
 
}


.marquee:hover {
  -webkit-text-stroke: 1.5px #fff;
	text-stroke: 1.5px #fff;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
	transition: all 0.5s ease;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  animation: scroll 15s linear infinite reverse;
}

.marquee__group span {
  color: white;
  font-size: 30px !important;
  font-weight: 800;
  white-space: nowrap;
  text-transform: uppercase;
}

.marquee__group img{
	width: 36px;
	height: 36px;
	margin: 0 1em;
	transform: rotate(90deg);
	transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

@media only screen and (min-width: 360px) {
    .marquee__group span {
        font-size: 6.5vw;
    }
}

.contactUs {
  width: 100%;
  height: 100vh;
  background: url(contactBG.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.contact-left{
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
}

.contact-left-title{
	font-weight: 800;
	font-size: 60px;
}

.contact-left-title hr{
	border: none;
	height: 5px;
	background: -webkit-linear-gradient(0deg, #912EDF, #C90CE8, #E02A97); 
	border-radius: 10px;
}

.contact-inputs{
	width: 58.5vh;
	height: 50px;
	border: none;
	outline: none;
	font-weight: 600;
	color: #666;
	border-radius: 1px;
}

.contact-left textarea{
	height: 140px;
	padding-top: 15px;
	border-radius: 1px; 
}

.footer {
  width: 100%;
  height: 60vh;
  background: url(footer_bg.png);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
	list-style-type: none;
}


.row{
	display: flex;
}

.footer-col{
	padding: 0 10%;
}

footer h4{
	font-size: 18px;
}

footer ul li{
	padding-top: 50px;
}

footer ul li a{
	color: white;
	letter-spacing: 3px;
}

.footer_copy{
	padding-top: 100px;
	letter-spacing: 10px;
	font-size: 14px;
}


.logos{
	padding-top: 5em;
	display: flex;
}

.logos-slide{
}

.logos-slide img{
	margin-left: 4.5em;
}





/* universal animation setup */
@keyframes fade{
  from{
  	opacity: 0;
  }

  to{
  	opacity: 1;
  }

  0%{
  	opacity: 0;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}